name: Container Image Deployment CI

on:
  push:
    branches:
      - main
      - deploy-*
      # FIXME: temporary
      - ci-mongo-prod
    tags:
      - v*.*.*

# Note on secrets used for connection
# SSH_PRIVATE_KEY is the private key (shared between VM and host)

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        env:
          # FIXME remove temporary ci-mongo-prod condition
          - ${{ (startsWith(github.ref, 'refs/tags/v') || contains(github.ref, 'ci-mongo-prod')) && 'shared-org' || 'shared-net' }}
    environment: ${{ matrix.env }}
    concurrency: ${{ matrix.env }}
    steps:
    # Put here non secret variables that change according to environment
    - name: Set various variable for staging (net) deployment
      if: matrix.env == 'shared-net'
      run: |
        # configs
        echo "COMPOSE_PROJECT_NAME=off_shared" >> $GITHUB_ENV
        echo "MONGODB_CACHE_SIZE=14" >> $GITHUB_ENV
        echo "MONGODB_HOST=10.1.0.200" >> $GITHUB_ENV
        # deploy target
        echo "SSH_HOST=10.1.0.200" >> $GITHUB_ENV
        echo "SSH_PROXY_HOST=ovh1.openfoodfacts.org" >> $GITHUB_ENV
        echo "SSH_USERNAME=off" >> $GITHUB_ENV
        echo "COMMON_NET_NAME=po_webnet" >> $GITHUB_ENV

    - name: Set various variable for prod (org) deployment
      if: matrix.env == 'shared-org'
      run: |
        # configs
        echo "COMPOSE_PROJECT_NAME=off_shared" >> $GITHUB_ENV
        echo "MONGODB_CACHE_SIZE=32" >> $GITHUB_ENV
        echo "MONGODB_HOST=10.13.1.200" >> $GITHUB_ENV
        # deploy target
        echo "SSH_HOST=10.13.1.200" >> $GITHUB_ENV
        echo "SSH_PROXY_HOST=scaleway-02.infra.openfoodfacts.org" >> $GITHUB_ENV
        echo "SSH_USERNAME=off" >> $GITHUB_ENV
        echo "COMMON_NET_NAME=po_webnet" >> $GITHUB_ENV

    - name: Checkout git repository
      uses: appleboy/ssh-action@master
      with:
        host: ${{ env.SSH_HOST }}
        username: ${{ env.SSH_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        proxy_host: ${{ env.SSH_PROXY_HOST }}
        proxy_username: ${{ env.SSH_USERNAME }}
        proxy_key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          # Clone Git repository if not already there
          [ ! -d '${{ matrix.env }}' ] && git clone --depth 1 https://github.com/${{ github.repository }} ${{ matrix.env }} --no-single-branch 2>&1

          # Go to repository directory
          cd ${{ matrix.env }}

          # Fetch newest commits (in case it wasn't freshly cloned)
          git fetch --depth 1

          # Checkout current commit SHA
          git checkout -qf ${{ github.sha }}

    - name: Set environment variables
      uses: appleboy/ssh-action@master
      with:
        host: ${{ env.SSH_HOST }}
        username: ${{ env.SSH_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        proxy_host: ${{ env.SSH_PROXY_HOST }}
        proxy_username: ${{ env.SSH_USERNAME }}
        proxy_key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          # Go to repository directory
          cd ${{ matrix.env }}

          # init .env
          echo "# Env file generated by container-deploy action"> .env
          # Set Docker Compose variables
          echo "DOCKER_CLIENT_TIMEOUT=360" >> .env
          echo "COMPOSE_HTTP_TIMEOUT=360" >> .env

          echo "RESTART_POLICY=always" >> .env

          echo "COMPOSE_PROJECT_NAME=${{ env.COMPOSE_PROJECT_NAME }}" >> .env
          echo "COMMON_NET_NAME=${{ env.COMMON_NET_NAME }}" >> .env

          echo "COMPOSE_PATH_SEPARATOR=;" >> .env
          echo "COMPOSE_FILE=docker-compose.yml;docker-compose-run.yml;docker/prod.yml;docker/monitoring.yml;" >> .env
          echo "COMPOSE_PROFILES=all" >> .env

          # Set App variables
          echo "MONGODB_CACHE_SIZE=${{ env.MONGODB_CACHE_SIZE }}" >> .env
          echo "MONGODB_HOST=${{ env.MONGODB_HOST }}" >> .env

          echo "POSTGRES_IMAGE=pgautoupgrade/pgautoupgrade:17-alpine" >> .env
          echo "POSTGRES_USER=postgres" >> .env
          echo "POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}" >> .env
          echo "PG_BOOTSTRAP_USERNAME=bootstrap" >> .env
          echo "PG_BOOTSTRAP_PASSWORD=${{ secrets.PG_BOOTSTRAP_PASSWORD }}" >> .env

          # May want to make these environment specific if we were to deploy to production
          echo "POSTGRES_SHM_SIZE=256m" >> .env
          echo "POSTGRES_SHARED_BUFFERS=128MB" >> .env
          echo "POSTGRES_WORK_MEM=4MB" >> .env

    - name: Create Docker volumes and networks
      uses: appleboy/ssh-action@master
      with:
        host: ${{ env.SSH_HOST }}
        username: ${{ env.SSH_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        proxy_host: ${{ env.SSH_PROXY_HOST }}
        proxy_username: ${{ env.SSH_USERNAME }}
        proxy_key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          docker volume create ${{ env.COMPOSE_PROJECT_NAME }}_mongodb_data \
          || echo "${{ env.COMPOSE_PROJECT_NAME }}_mongodb_data volume already exists"
          if [ "{{ matrix.env }}" == "shared-org" ]
          then
            docker volume create ${{ env.COMPOSE_PROJECT_NAME }}_redis_data \
            || echo ${{ env.COMPOSE_PROJECT_NAME }}_redis_data volume already exists"
            docker volume create ${{ env.COMPOSE_PROJECT_NAME }}_pg_data \
            || echo ${{ env.COMPOSE_PROJECT_NAME }}_pg_data volume already exists"
          else
            # on staging we have part of docker data on a specific disk and location
            docker volume create --driver=local -o type=none -o o=bind -o device=/srv/off/docker_data/${{ env.COMPOSE_PROJECT_NAME }}_redisdata ${{ env.COMPOSE_PROJECT_NAME }}_redisdata \
            || echo "${{ env.COMPOSE_PROJECT_NAME }}_redisdata volume already exists"
            docker volume create --driver=local -o type=none -o o=bind -o device=/srv/off/docker_data/${{ env.COMPOSE_PROJECT_NAME }}_pg_data ${{ env.COMPOSE_PROJECT_NAME }}_pg_data \
            || echo "${{ env.COMPOSE_PROJECT_NAME }}_pg_data volume already exists"
          fi

    - name: Start services
      uses: appleboy/ssh-action@master
      with:
        host: ${{ env.SSH_HOST }}
        username: ${{ env.SSH_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        proxy_host: ${{ env.SSH_PROXY_HOST }}
        proxy_username: ${{ env.SSH_USERNAME }}
        proxy_key: ${{ secrets.SSH_PRIVATE_KEY }}
        command_timeout: 15m
        script: |
          cd ${{ matrix.env }}

          make up

    - name: Check services are up
      uses: appleboy/ssh-action@master
      if: ${{ always() }}
      with:
        host: ${{ env.SSH_HOST }}
        username: ${{ env.SSH_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        proxy_host: ${{ env.SSH_PROXY_HOST }}
        proxy_username: ${{ env.SSH_USERNAME }}
        proxy_key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          cd ${{ matrix.env }} && \
          make livecheck

    - name: Cleanup obsolete Docker objects
      uses: appleboy/ssh-action@master
      if: ${{ always() }}
      with:
        host: ${{ env.SSH_HOST }}
        username: ${{ env.SSH_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        proxy_host: ${{ env.SSH_PROXY_HOST }}
        proxy_username: ${{ env.SSH_USERNAME }}
        proxy_key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          cd ${{ matrix.env }} && \
          make prune
