name: release-please
on:
  push:
    branches:
      - main
      # TEMPORARY
      - ci-release-please

permissions:
  contents: write
  pull-requests: write
  issues: write

jobs:
  release-please:
    runs-on: ubuntu-slim
    environment: release-please
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          # We can't use GITHUB_TOKEN here because, github actions can't trigger actions
          # see: https://docs.github.com/en/actions/security-guides/automatic-token-authentication#using-the-github_token-in-a-workflow
          # So this is a personal access token
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
          release-type: simple
          target-branch: main
